*{
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

:root{

    --main-color:#0C121C;
    --second-color:#1E293B;
    --third-color:#7148FC;

}

nav {
  background-color: var(--main-color);
  color: #8a2828;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 10px;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  margin-bottom: 20px;
  height: 60px;
}

nav select,
nav input[type="number"],
nav input[type="text"],
nav button {
  padding: 10px;
  border-radius: 20px;
  border: none;
  margin-right: 30px;
  font-size: 16px;
}

nav button {
  background-color: #f44336;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s ease;
  width: 170px;
  height: 50px;
}

nav button:hover {
  background-color: #ff665a;
}

.logo {
  width: 50px;
  height: auto;
}
/* start grid */
.grid-container {
  display: grid;
  /* grid-template-columns: 1fr 4fr; */
   grid-template-areas: "aside main main main main main main";
  grid-gap: 0.75em;
  height: 100vh;
  margin-bottom: 30px;
}

main {

  grid-area: main;
  background-color: lightblue;
  width: 100%;
  height: 100%;
}

aside {
  margin-top: 2px;
  padding: 5px;
  grid-area: aside;
  background-color: var(--second-color);
  width: 100%;
}
aside span {
  margin-top: 20px;
  font-weight: bold;
}
aside .box {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 10px;
  list-style: none;
}

aside .box li {
  display: flex;
  flex-direction: column;
    margin-top: 30px;
}
.menu-text:hover {
  cursor: pointer;
}
aside .box li a {
  text-decoration: none;
  color: white;

}
aside .box li .date{
  background-color: #B8BFC6;
  border-radius: 20%;
  -webkit-border-radius: 20%;
  -moz-border-radius: 20%;
  -ms-border-radius: 20%;
  -o-border-radius: 20%;
  margin-left: 0px;
  padding: 7px;
  border: none;
  box-shadow: 5px 5px 8px #888888;
  margin-top: 10px;
  width: 20%;
}
aside .go{
  padding: 10px;
  margin-top: 45px;
  margin-left: 10px;
  background-color: var(--third-color);
}

aside .go:hover{
  transition: 1s;
  background-color: #4f1df3;
  -webkit-transition: 1s;
  -moz-transition: 1s;
  -ms-transition: 1s;
  -o-transition: 1s;
}

/* end grid */



/*Start footer */
footer {
  grid-area: footer;
}

footer {
  background-color:  var(--main-color);
  color: white;
  text-align: center;
  padding: 10px; /* Adjust padding as needed */
  width: 100%;
  z-index: 999;
  left: 0px;
  height:60px;
}


footer .box {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  list-style: none;
  padding-left: 8px;
}
footer .box h4 {
  text-align: center;
  margin-left: 100px;
}
footer .links {
  display: flex;
  list-style: none;
  justify-content: space-between;
}
footer .links li {
  margin-right: 20px;
}
footer .links a {
  color: rgb(208, 208, 208);
  text-decoration: none;
}
/* end footer */