:root {
    --main-color: #0C121C;
    --second-color: #1E293B;
    --third-color: #7148FC;
    --accent-color: #3CB35A;
}

#s1 {
    display: flex; 
}

#s2 {
    display: none;
}

*{
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

body {
font-size: 30px;
font-family: Arial, sans-serif;
margin: 0;
padding: 0;
background-image: url('../assets/bc.jpg'); 
background-size: cover;
background-position: center;
color: #fff;
}

.im{
    width: 90px;
    height: 30px;
    margin-left: 10px;
    margin-top: 20px;
    
}
.logo{
    height: 80px;
    width: 80px;
    box-shadow: 10px 10px 8px #888888;
}
.header {
    /* background-color: var(--main-color); */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    /* background-image: linear-gradient(to right bottom,      rgba(7, 144, 181, 0.8),     rgba(13, 73, 157, 0.8)),
    url('../assets/ha.jpeg'); */
    background-size: contain;
    background-position: top;
    background-repeat: no-repeat;
    position: relative;
    /* width: fit-content; */
    clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.header h1{
    margin-top: 10px;
    color: #3CB35A;
    background: -webkit-linear-gradient(#eee, #272626);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.search1{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    height: 492px;
}
.form1{
    display: flex;
    flex-direction: column;
}
.input1{
    width: 579px;
    margin-left: 120px;
    height: 40px;
    border: none;
    outline: 2px solid black;
    margin-top: 50px;
    position: relative;
    border-left: none;
    background-color: var(--second-color);
    color: white;
}
.input1::placeholder {
    color: #1E293B;
    font-weight: bold;
    opacity: 0.6;
    color: wheat;
    
}
.input-container {
    position: relative;
    margin-top: 50px;
}

.additional {
    border: 1px solid black;
    border-right: none;
    position: absolute;
    top: 70px;
    left: 49px;
    transform: translateY(-50%);
    text-align: center;
    line-height: 2.6;
    z-index: 99;
    background-color: #635E79;
    color: black;
    border-right: none;
    font-size: 15px;
    height: 43px;
    width: 70px;
}
.bt{
    cursor: pointer;
    width: 100px;
    margin:80px auto;
    height: 50px;
    transition: transform 0.5s ease;
    background-color: #3CB35A;
    color:aliceblue;
    outline: 2px solid black;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    font-weight: bold;
    -webkit-transition: transform 0.5s ease;
    -moz-transition: transform 0.5s ease;
    -ms-transition: transform 0.5s ease;
    -o-transition: transform 0.5s ease;
    width: 185px;
}

.bt:hover{
    transform: translateY(-10px);
    -webkit-transform: translateY(-10px);
    -moz-transform: translateY(-10px);
    -ms-transform: translateY(-10px);
    -o-transform: translateY(-10px);
}

.result{
    display: flex;
    justify-content: center;
}


/* search 2 start */
.search2{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    height: 700px;
}
.search2{
    display: none;
}

.form2{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.form2 label{
    color: #3CB35A;
    font-size: 26px;
    font-weight: bold;

}
.form2 input{
    padding: 6px;
    margin-top: 10px;
    margin-bottom: 9px;
    border: none;
    outline: none;
    background-color: transparent;
    border-bottom:3px solid #3CB35A;
    color: aliceblue;
    font-size: 22px;
    font-weight: bold;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.form2 input::placeholder{
    color: aliceblue;
    font-weight: bold;
    opacity: 0.7;
}
/* search 2 end */
.switch{
    margin-top: -80px;

}
.switch button {
    cursor: pointer;
    width: 100px;
    height: 50px;
    margin-top: 15px;
    transition: transform 0.5s ease;
    background-color: #3CB35A;
    color: aliceblue;
    outline: 2px solid black;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    font-weight: bold;
    width: 185px;
}

.switch button:hover{
        transform: translateY(-10px);
    -webkit-transform: translateY(-10px);
    -moz-transform: translateY(-10px);
    -ms-transform: translateY(-10px);
    -o-transform: translateY(-10px);
} 

@media only screen and (max-width: 600px) {
    .switch {
        margin-top: 10px; /* Adjust as needed for spacing */
    }

    .bt {
        margin-top: 10px; /* Adjust as needed for spacing */
    }
}

option{
    background-color: #3CB35A;
    color: aliceblue;
    font-size: 20px;
    font-weight: bold;
    margin-top: 5px;
    margin-bottom: 5px;
}
select{
    margin-top: 5px;
    margin-bottom: 5px;
    background-color: #3CB35A;
    color: aliceblue;
    font-size: 20px;
    font-weight: bold;
}

.bt22 .switch{
    position: absolute;
    position: absolute;
    bottom: -143px;
    left: 750px;
}








